
/*****header******/
.pheader {
  display: grid;
  grid-template-columns: 1fr 0.1fr 0.08fr;
  align-items: center;
  margin-top: 20px;
}

.pheader img {
  width: 200px;
}

.pheader a {
  text-decoration: none;
  color: black;
}

.pheader a:hover {
  color: blue;
}


/******Searchbar*****/
.searchbar {
  display: grid;
  grid-template-columns: 0fr 0.1fr 0fr;
}

.loc {

  align-items: center;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: #deebff;
  width: 50px;
  height: 50px;
  font-size: 16px;
  border: none;
}

.search {
  height: 50px;
  border: none;
  background-color: #f5f6f8;
}
.rechercher {
  color: white;
  background-color: #0059ff;
  height: 50px;
  border: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

/******Filtres***********/

.filtres {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 20px;
  gap: 20px;
}

.btn {
  background-color: #0059ff;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.eco, .fam, .rom, .ani {
  font-weight: bold;
  font-size: 20px;
}

.filtres .econ {
  display: flex;
  align-items: center;

}