/* GENERALE */

html,body {
  font-family: Raleway;
}
.flexCentre {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flexAround {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.flexBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Nav Générale */
.sizeNav {
  height: 100px;
}
/* Logo Nav */
.sizeLogo {
  width: 120px;
  height: 50px;
}
.margeLogo {
  margin-bottom: 7px;
}

/* Liens Nav */
.sizeLiens {
  width: 45%;
}
.colorLiens13 {
  color: blue;
}
.colorLiens2 {
  color: black;
}
.decorationNone {
  text-decoration: none;
}
.sizeLien {
  width: 140px;
  height: 99px;
}
.bordureNav {
  border-top: 1px solid blue;
}
.bordureNav23 {
  border-top: 1px solid transparent;
}